.border-10 {
	border: solid black;
	border-width: 2px;
}

.weather-card {
	width: 10px;
	height: auto;
	background-color: rgb(74, 90, 122);
}

.recent-button-color {
	background-color: rgb(206, 197, 197);
}

.recent-button-color:hover {
	background-color: rgb(131, 126, 126);
}

.nav-gradient {
	background-image: linear-gradient(to right, rgb(94, 94, 255), rgb(0, 23, 151));
}

#header-link:hover {
	text-decoration: none;
}
